In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection  import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [2]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [3]:
df = pd.read_csv("Automobile_insurance_fraud.csv")

In [4]:
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,16-07-1991,OH,500/1000,1000,1310.80,0,431289,...,?,87200,17440,8720,61040,Honda,Accord,2006,N,NaN
996,285,41,186934,05-01-2014,IL,100/300,1000,1436.79,0,608177,...,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N,NaN
997,130,34,918516,17-02-2003,OH,250/500,500,1383.49,3000000,442797,...,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N,NaN
998,458,62,533940,18-11-2011,IL,500/1000,2000,1356.92,5000000,441714,...,YES,46980,5220,5220,36540,Audi,A5,1998,N,NaN
999,456,60,556080,11-11-1996,OH,250/500,1000,766.19,0,612260,...,?,5060,460,920,3680,Mercedes,E400,2007,N,NaN

In [5]:
df = df.drop(['policy_number', '_c39'], axis=1)

In [6]:
df

,months_as_customer,age,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,17-10-2014,OH,250/500,1000,1406.91,0,466132,MALE,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,MALE,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,FEMALE,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,FEMALE,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,MALE,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,16-07-1991,OH,500/1000,1000,1310.80,0,431289,FEMALE,...,1,?,87200,17440,8720,61040,Honda,Accord,2006,N
996,285,41,05-01-2014,IL,100/300,1000,1436.79,0,608177,FEMALE,...,3,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N
997,130,34,17-02-2003,OH,250/500,500,1383.49,3000000,442797,FEMALE,...,3,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N
998,458,62,18-11-2011,IL,500/1000,2000,1356.92,5000000,441714,MALE,...,1,YES,46980,5220,5220,36540,Audi,A5,1998,N
999,456,60,11-11-1996,OH,250/500,1000,766.19,0,612260,FEMALE,...,3,?,5060,460,920,3680,Mercedes,E400,2007,N

In [7]:
df = df.drop(['auto_model','auto_make','auto_model','auto_year'], axis=1)

In [8]:
df

,months_as_customer,age,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,fraud_reported
0,328,48,17-10-2014,OH,250/500,1000,1406.91,0,466132,MALE,...,1,YES,1,2,YES,71610,6510,13020,52080,Y
1,228,42,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,MALE,...,1,?,0,0,?,5070,780,780,3510,Y
2,134,29,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,FEMALE,...,3,NO,2,3,NO,34650,7700,3850,23100,N
3,256,41,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,FEMALE,...,1,?,1,2,NO,63400,6340,6340,50720,Y
4,228,44,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,MALE,...,1,NO,0,1,NO,6500,1300,650,4550,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,16-07-1991,OH,500/1000,1000,1310.80,0,431289,FEMALE,...,1,YES,0,1,?,87200,17440,8720,61040,N
996,285,41,05-01-2014,IL,100/300,1000,1436.79,0,608177,FEMALE,...,1,YES,2,3,?,108480,18080,18080,72320,N
997,130,34,17-02-2003,OH,250/500,500,1383.49,3000000,442797,FEMALE,...,3,?,2,3,YES,67500,7500,7500,52500,N
998,458,62,18-11-2011,IL,500/1000,2000,1356.92,5000000,441714,MALE,...,1,?,0,1,YES,46980,5220,5220,36540,N
999,456,60,11-11-1996,OH,250/500,1000,766.19,0,612260,FEMALE,...,1,?,0,3,?,5060,460,920,3680,N

In [9]:

df = df.drop('policy_state', axis=1)

In [10]:
df

,months_as_customer,age,policy_bind_date,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,fraud_reported
0,328,48,17-10-2014,250/500,1000,1406.91,0,466132,MALE,MD,...,1,YES,1,2,YES,71610,6510,13020,52080,Y
1,228,42,27-06-2006,250/500,2000,1197.22,5000000,468176,MALE,MD,...,1,?,0,0,?,5070,780,780,3510,Y
2,134,29,06-09-2000,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,...,3,NO,2,3,NO,34650,7700,3850,23100,N
3,256,41,25-05-1990,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,...,1,?,1,2,NO,63400,6340,6340,50720,Y
4,228,44,06-06-2014,500/1000,1000,1583.91,6000000,610706,MALE,Associate,...,1,NO,0,1,NO,6500,1300,650,4550,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,16-07-1991,500/1000,1000,1310.80,0,431289,FEMALE,Masters,...,1,YES,0,1,?,87200,17440,8720,61040,N
996,285,41,05-01-2014,100/300,1000,1436.79,0,608177,FEMALE,PhD,...,1,YES,2,3,?,108480,18080,18080,72320,N
997,130,34,17-02-2003,250/500,500,1383.49,3000000,442797,FEMALE,Masters,...,3,?,2,3,YES,67500,7500,7500,52500,N
998,458,62,18-11-2011,500/1000,2000,1356.92,5000000,441714,MALE,Associate,...,1,?,0,1,YES,46980,5220,5220,36540,N
999,456,60,11-11-1996,250/500,1000,766.19,0,612260,FEMALE,Associate,...,1,?,0,3,?,5060,460,920,3680,N

In [11]:
print(df.isnull().sum())

months_as_customer             0
age                            0
policy_bind_date               0
policy_csl                     0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_zip                    0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_hobbies                0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_date                  0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_location              0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
fraud_reported                 0
dtype: int64

In [12]:
print(df.columns)

Index(['months_as_customer', 'age', 'policy_bind_date', 'policy_csl',
       'policy_deductable', 'policy_annual_premium', 'umbrella_limit',
       'insured_zip', 'insured_sex', 'insured_education_level',
       'insured_occupation', 'insured_hobbies', 'insured_relationship',
       'capital-gains', 'capital-loss', 'incident_date', 'incident_type',
       'collision_type', 'incident_severity', 'authorities_contacted',
       'incident_state', 'incident_city', 'incident_location',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'property_damage', 'bodily_injuries', 'witnesses',
       'police_report_available', 'total_claim_amount', 'injury_claim',
       'property_claim', 'vehicle_claim', 'fraud_reported'],
      dtype='object')

In [13]:

columns_to_check = [
    'months_as_customer', 'age', 'policy_bind_date', 'policy_csl',
    'policy_deductable', 'policy_annual_premium', 'umbrella_limit',
    'insured_zip', 'insured_sex', 'insured_education_level',
    'insured_occupation', 'insured_hobbies', 'insured_relationship',
    'capital-gains', 'capital-loss', 'incident_date', 'incident_type',
    'collision_type', 'incident_severity', 'authorities_contacted',
    'incident_state', 'incident_city', 'incident_location',
    'incident_hour_of_the_day', 'number_of_vehicles_involved',
    'property_damage', 'bodily_injuries', 'witnesses',
    'police_report_available', 'total_claim_amount', 'injury_claim',
    'property_claim', 'vehicle_claim', 'fraud_reported'
]

for column in columns_to_check:
    print(f"Column: {column}")
    print(df[column].unique())
    print()

Column: months_as_customer
[328 228 134 256 137 165  27 212 235 447  60 121 180 473  70 140 160 196
 460 217 370 413 237   8 257 202 224 241  64 166 155 114 149 147  62 289
 431 199  79 116  37 106 269 265 163 355 175 192 430  91 223 195  22 439
  94  11 151 154 245 119 215 295 254 107 478 128 338 271 222 120 270 319
 194 227 244  78 200 284 275 153  31  41 127  61 207 219  80 325  29 239
 279 350 464 118 298  87 261 453 210 168 390 258 225 164 255 206 203 211
 274  81 280 112  24  93 171 124 287 122 398 214 209  82 193 288 104 101
 375 461 428  45 136 216 278 108  14 276  47  73 294 324  53 426 111  86
 296 125 177 238 449 252 359  19 285  30 342 468 343 404  63 335 142 272
  69  38 281 246 330 362 371 377 172  99 249 190 174  95   2 117 242 440
  20 208 156 232  84 394  35 369 332 243 264  32 259 186 201 436 189 105
  88  40  59  39 123 231 247  48 267 286 253  10 158   1  85 233 266  97
 399 305 129 283  96 176 159 290 299  66 334 429  15 230 250  65 475  77
 229 110 292 451 150 291 162 309 396 273 419 315  72 157 113 115 236   7
 126 297 406 146 409   6 103 344 437  56 277 138   4 167 467 310 143 102
 303 152 144 414 352  33 347 410 448 218  43 411 360 300  67 380 389 317
 191 321   0 405 304  26  12  83 184 479   5 220 316 379 354 169 339 131
 313 337 204 364 185 251 392 402 182 282 415  51 130 463 472  75   3  98
  16 438 422  34 183 356 109 198 446 435 434  25 148 145 263  46 234 456
  58 293 385 100 373 322  76  54  92 173 366 188  89 458 161 476 133 320
 421 135  57 187 386 197 179 132   9 427  13 312 260 141 441 381 178 425
  55  90  36 308 412 465 407 205 372 213 240  50  17]

Column: age
[48 42 29 41 44 39 34 37 33 61 23 38 58 26 31 62 55 40 35 43 45 25 30 28
 49 54 47 59 27 56 32 36 64 60 51 46 50 57 53 24 52 19 21 63 20 22]

Column: policy_bind_date
['17-10-2014' '27-06-2006' '06-09-2000' '25-05-1990' '06-06-2014'
 '12-10-2006' '04-06-2000' '03-02-1990' '05-02-1997' '25-07-2011'
 '26-05-2002' '29-05-1999' '20-11-1997' '26-10-2012' '28-12-1998'
 '19-10-1992' '08-06-2005' '15-11-2004' '28-12-2014' '02-08-1992'
 '25-06-2002' '27-11-2005' '27-05-1994' '08-02-1991' '02-02-1996'
 '05-12-2013' '20-09-1990' '18-07-2002' '08-02-1990' '04-03-2014'
 '18-02-2000' '19-06-2008' '01-08-2003' '04-04-1992' '13-01-1991'
 '08-08-2010' '09-03-2003' '03-02-1993' '25-11-2002' '27-07-1997'
 '08-05-1995' '30-08-2012' '30-04-2006' '13-04-2003' '05-12-2007'
 '21-08-2006' '08-01-1990' '18-03-1990' '07-01-2008' '10-03-1997'
 '10-01-2004' '20-08-1994' '02-06-2002' '28-04-1994' '17-08-2014'
 '11-08-2007' '20-11-2008' '18-10-1995' '19-05-1993' '26-02-2005'
 '14-02-1990' '30-09-1993' '10-06-2014' '28-10-2008' '24-04-2007'
 '13-12-1993' '17-08-2011' '20-08-1990' '11-02-1994' '22-02-1994'
 '15-08-2011' '11-11-1998' '04-12-1995' '28-12-2002' '15-04-2004'
 '02-02-2001' '12-01-2010' '14-04-1992' '21-05-2010' '27-10-2013'
 '12-10-1994' '04-07-1997' '15-02-2011' '21-08-1994' '15-05-1997'
 '26-10-1996' '04-03-2006' '02-01-1991' '15-08-1999' '15-01-1992'
 '07-12-1999' '06-06-1993' '03-10-2000' '29-12-2010' '17-03-1990'
 '01-03-2012' '05-02-2006' '01-11-2014' '17-06-2009' '20-09-1999'
 '19-10-1990' '05-08-1996' '06-06-2001' '25-03-2007' '31-10-2013'
 '13-06-1992' '07-10-1990' '28-12-1991' '26-06-2009' '11-01-2009'
 '18-03-2003' '02-11-2012' '04-05-2000' '29-09-1999' '09-03-1999'
 '13-02-1991' '05-08-1993' '31-10-1997' '21-04-2001' '08-01-2013'
 '23-07-2009' '20-02-1998' '13-03-2008' '20-08-1996' '27-07-2014'
 '09-11-1992' '04-06-2012' '13-05-2001' '17-09-2011' '15-07-2011'
 '27-07-2005' '18-10-2005' '19-01-1996' '29-09-2005' '18-02-1997'
 '11-05-2010' '06-02-2009' '09-07-2013' '06-06-1992' '08-03-1998'
 '29-03-2004' '01-06-2006' '08-06-1994' '12-02-1998' '16-11-2000'
 '24-10-2004' '08-11-2009' '21-09-1996' '16-07-1995' '09-06-2001'
 '06-10-2002' '14-07-1997' '11-11-1994' '23-06-2012' '18-02-2007'
 '27-06-2005' '14-05-2006' '29-04-2010' '10-11-1992' '24-07-1999'
 '22-02-1992' '13-09-2002' '09-08-2003' '04-12-2007' '22-07-2002'
 '03-07-1992' '29-03-2005' '16-03-2008' '23-05-1999' '22-11-2012'
 '29-01-1993' '11-02-2003' '15-08-1990' '06-03-2010' '27-09-1990'
 '17-06-2005' '14-09-2001' '07-01-2011' '13-09-2003' '24-10-1997'
 '04-01-2009' '12-10-1998' '23-02-1993' '07-07-1996' '23-01-2013'
 '06-12-2006' '23-02-2014' '16-11-2007' '17-04-1999' '06-02-2006'
 '20-10-1993' '01-01-2006' '04-04-2003' '05-07-2014' '16-01-1996'
 '19-04-2002' '10-12-2005' '07-11-1994' '02-06-2012' '07-04-1998'
 '25-04-2007' '30-06-2000' '04-06-1996' '09-05-2009' '08-07-2001'
 '20-09-1993' '03-11-2009' '10-12-2014' '08-01-1994' '05-08-2006'
 '07-02-2007' '09-04-2001' '17-02-1995' '25-07-1995' '24-03-2006'
 '28-03-1995' '19-06-1996' '16-06-1993' '11-07-2001' '22-11-2008'
 '19-05-1990' '26-08-2013' '12-10-1997' '21-01-2002' '02-09-1996'
 '28-01-2010' '03-10-2014' '02-05-2007' '22-09-1990' '19-09-2004'
 '28-08-1995' '04-02-2004' '23-07-2014' '21-03-1997' '06-05-1991'
 '07-08-1992' '03-09-2013' '05-01-2012' '27-01-2007' '14-10-2005'
 '03-11-1990' '15-10-2005' '22-05-1999' '21-12-2002' '10-02-2007'
 '01-03-2002' '21-04-2003' '22-09-2002' '10-02-1998' '01-09-1992'
 '01-05-1999' '19-12-1997' '18-06-2000' '24-04-1995' '16-06-2006'
 '28-09-2007' '21-11-1991' '16-05-2001' '11-08-1999' '16-06-2003'
 '30-03-1999' '03-02-1999' '25-08-2011' '28-06-2010' '06-11-2001'
 '15-04-2013' '07-12-1995' '01-11-1991' '19-05-2014' '15-03-1992'
 '03-02-2006' '16-03-2003' '16-10-2002' '27-01-1990' '11-03-2010'
 '19-09-1995' '27-02-2010' '30-04-2002' '28-04-2007' '08-07-1996'
 '01-04-2002' '29-10-2006' '25-10-2007' '28-03-2001' '04-05-1995'
 '28-09-2011' '28-01-2003' '01-02-2011' '09-02-1993' '05-08-2005'
 '17-06-2006' '07-12-1993' '14-03-2012' '05-08-1997' '05-07-2009'
 '25-11-1994' '03-02-1997' '09-10-2009' '20-11-2002' '29-05-1995'
 '22-01-2011' '18-10-2012' '13-10-1991' '01-10-2010' '10-04-2013'
 '11-06-2008' '04-12-2013' '21-08-2010' '18-06-2010' '10-04-1992'
 '06-12-1991' '29-10-1993' '03-11-1991' '09-07-2002' '01-07-2005'
 '04-11-1991' '14-04-1993' '23-08-2009' '18-06-1993' '17-07-2012'
 '25-01-1999' '23-02-1990' '30-08-2000' '03-09-2008' '02-08-1991'
 '25-09-2001' '11-03-2007' '20-11-2010' '28-08-1998' '16-07-2002'
 '29-04-1990' '01-02-1998' '20-07-2008' '13-11-1998' '24-05-2001'
 '03-06-2014' '22-08-1991' '12-12-1998' '18-02-1999' '30-10-1997'
 '29-11-1999' '07-07-2013' '05-07-2003' '21-09-2005' '18-02-1995'
 '07-04-1999' '13-12-2014' '01-06-1997' '13-07-2013' '30-12-2002'
 '28-02-1997' '18-06-1998' '08-02-1996' '17-11-2004' '25-10-2012'
 '13-04-2006' '21-02-2006' '17-12-2003' '31-07-1999' '05-08-2014'
 '05-06-2011' '11-10-1992' '17-02-2010' '06-05-2007' '01-05-1997'
 '28-01-1998' '05-05-1993' '06-08-1994' '14-11-2014' '14-12-1991'
 '21-10-2009' '29-09-1997' '31-12-2003' '01-01-2008' '31-05-2004'
 '18-12-2013' '24-08-2000' '14-10-1992' '16-11-1991' '08-10-1995'
 '28-10-2007' '16-05-2008' '22-06-2009' '10-05-2012' '02-10-2003'
 '02-08-1990' '16-09-1997' '29-07-1995' '06-09-2005' '05-08-1992'
 '22-01-1993' '20-05-1995' '24-09-1992' '20-07-2007' '28-04-1992'
 '19-01-1998' '08-09-2009' '18-12-1994' '23-08-1996' '20-11-1991'
 '28-10-1998' '09-04-2003' '04-02-1992' '29-06-2006' '21-06-1997'
 '07-09-2006' '01-10-2001' '20-02-2009' '26-06-2001' '18-01-1997'
 '24-06-2014' '02-10-1992' '09-10-2012' '10-02-1993' '28-09-1994'
 '24-05-2003' '25-12-1991' '18-09-1999' '03-02-1994' '18-01-2003'
 '07-03-2005' '23-08-2003' '11-07-2002' '19-03-2014' '06-12-1993'
 '29-08-1999' '09-03-2007' '03-01-2004' '25-04-1991' '14-03-1995'
 '09-12-2005' '25-12-2001' '14-11-1999' '27-10-2001' '31-10-1993'
 '13-02-2003' '06-03-2004' '12-07-2013' '27-08-2014' '22-06-1990'
 '07-03-2008' '03-09-1991' '02-09-2011' '06-10-2012' '18-01-2014'
 '22-03-1992' '03-12-2012' '18-10-1996' '02-10-1997' '18-03-2008'
 '29-08-2010' '31-03-2005' '25-12-2013' '11-03-2014' '04-08-1997'
 '14-11-2007' '30-07-1992' '01-12-2000' '10-09-2002' '07-11-1997'
 '18-05-1993' '11-07-1996' '17-12-1995' '12-04-2013' '13-11-1995'
 '04-11-2004' '21-03-1998' '22-07-1999' '28-02-2010' '30-01-2005'
 '29-11-2001' '24-12-2012' '11-05-1997' '26-01-1994' '04-11-2010'
 '19-06-1992' '02-06-2010' '12-10-2002' '25-02-2008' '05-09-1996'
 '16-03-1998' '22-04-2010' '25-01-2008' '10-09-2000' '23-04-2008'
 '18-02-2011' '24-04-2012' '24-05-2006' '30-01-1992' '24-01-2009'
 '29-08-1995' '31-07-2011' '05-01-2013' '18-11-1994' '30-08-2014'
 '10-09-1998' '04-01-2003' '24-05-2004' '12-09-1994' '07-07-1997'
 '01-03-1991' '29-09-2001' '10-01-2012' '05-07-2001' '07-08-1991'
 '24-07-2012' '08-08-1994' '09-12-2001' '14-03-1990' '28-03-2006'
 '23-12-2013' '30-09-1991' '27-12-2001' '07-04-2005' '08-04-2003'
 '14-11-2005' '07-01-2005' '14-02-1994' '23-01-1996' '12-12-1999'
 '15-07-2004' '07-11-2012' '29-06-2009' '26-06-2000' '09-01-2002'
 '11-11-2013' '14-01-2008' '04-03-2003' '07-06-1994' '04-07-2013'
 '30-06-2002' '30-06-2004' '19-12-1998' '31-08-2014' '10-11-2005'
 '26-11-2001' '06-05-2014' '27-01-1991' '04-03-2000' '12-10-1995'
 '25-04-2014' '26-01-2011' '26-01-1996' '08-04-1991' '29-06-2002'
 '09-04-1999' '19-04-2009' '28-11-1991' '27-04-2012' '04-03-2007'
 '31-12-2012' '21-12-2013' '28-04-2005' '17-09-1994' '16-08-2003'
 '02-09-2014' '12-12-2011' '17-08-1991' '29-02-2004' '22-02-2015'
 '13-10-1990' '25-11-1991' '02-10-1990' '17-02-2009' '17-07-2005'
 '12-03-1994' '03-08-1994' '25-08-2012' '02-12-2011' '25-02-2005'
 '20-04-2004' '17-11-2009' '19-09-2009' '12-09-2001' '27-11-1992'
 '07-12-1998' '25-08-1990' '22-10-2011' '01-02-1990' '27-11-1990'
 '16-07-2004' '10-12-1993' '08-03-1995' '03-08-2009' '03-11-1996'
 '09-08-2004' '20-07-1991' '14-01-2005' '16-12-2011' '09-10-1990'
 '27-02-1994' '21-04-2014' '11-02-2010' '05-10-1991' '23-07-1992'
 '10-10-1993' '14-11-2010' '03-03-1997' '01-03-1997' '18-08-1990'
 '28-05-2014' '22-07-2004' '02-08-2009' '05-07-2007' '24-01-2010'
 '15-05-2000' '21-03-2008' '07-05-1990' '05-02-1991' '19-03-1992'
 '24-04-2013' '10-04-2009' '01-12-2008' '05-07-2000' '11-06-2014'
 '23-04-1995' '16-09-1990' '11-12-1998' '09-10-1995' '21-12-1999'
 '28-07-2002' '03-08-1993' '16-12-2007' '10-02-2008' '01-10-2006'
 '29-05-2003' '06-05-2002' '28-02-2004' '14-01-1999' '23-01-2002'
 '09-12-1992' '24-06-1998' '06-01-2011' '24-02-2012' '25-06-2011'
 '21-11-2006' '27-06-2008' '30-08-1993' '21-04-2008' '23-06-2000'
 '11-01-2010' '28-03-1990' '29-01-1998' '05-12-2014' '27-05-2002'
 '09-08-2002' '02-12-2012' '22-03-2000' '13-04-2002' '17-06-2008'
 '07-04-1994' '29-02-1992' '11-05-1996' '03-04-2013' '12-11-2009'
 '05-11-2008' '15-02-1993' '21-07-2008' '11-09-2010' '22-12-1995'
 '26-09-1991' '15-07-1990' '10-05-2009' '28-10-1999' '30-03-1995'
 '31-01-2011' '21-04-2006' '10-03-2004' '05-01-1991' '15-10-1996'
 '21-06-1994' '13-06-1994' '27-05-2003' '06-07-1996' '08-05-2005'
 '02-11-2010' '29-07-2012' '06-06-2002' '19-09-1991' '24-06-2009'
 '29-05-1992' '12-08-2004' '24-12-2006' '24-07-2007' '17-08-1994'
 '10-04-1996' '11-12-1992' '01-08-2010' '23-03-2009' '29-07-1996'
 '23-08-1994' '05-01-1992' '11-09-1997' '10-02-2002' '28-01-1993'
 '23-10-1996' '21-04-1997' '09-11-2008' '20-06-2002' '21-10-2005'
 '28-08-2005' '16-01-2013' '10-10-2005' '08-02-2009' '06-03-2005'
 '17-05-1994' '20-07-1990' '17-04-2005' '10-02-1994' '29-03-1995'
 '30-04-2007' '15-02-2001' '09-07-2001' '06-09-2008' '19-12-2004'
 '15-11-2000' '14-03-2007' '28-12-2004' '05-07-1999' '15-11-1997'
 '27-09-2010' '18-08-2007' '09-08-1993' '02-04-1991' '15-03-2007'
 '01-05-2010' '24-06-2003' '08-07-1990' '24-09-1994' '20-06-2012'
 '19-04-2006' '07-12-2001' '25-11-2006' '06-12-1996' '10-07-2012'
 '07-04-2014' '11-10-2003' '17-01-2015' '07-12-1992' '29-11-2004'
 '02-01-2004' '25-01-2006' '18-04-1993' '09-12-2006' '30-08-1997'
 '03-06-1991' '06-09-1995' '09-02-2000' '23-07-1996' '30-12-2011'
 '21-07-1996' '08-04-1996' '04-03-2001' '19-10-2001' '18-08-2006'
 '28-04-2013' '29-11-2009' '15-02-1990' '12-04-2002' '21-02-1999'
 '18-06-2011' '26-03-1995' '03-05-1991' '19-12-2001' '05-08-2012'
 '20-01-2014' '19-12-2011' '28-07-2008' '05-05-1998' '16-04-1995'
 '14-02-1992' '11-07-2007' '07-04-2010' '10-03-1991' '20-01-1996'
 '01-03-2010' '15-06-2014' '25-11-2004' '26-08-2000' '23-08-2005'
 '09-08-1990' '28-03-2003' '23-10-2007' '27-06-1996' '11-12-1994'
 '05-12-1995' '15-12-1996' '06-06-2011' '13-12-1995' '28-10-1997'
 '04-01-1996' '09-05-2008' '05-12-2009' '22-12-2012' '19-05-1992'
 '25-05-2002' '21-04-2010' '26-03-1990' '12-05-2007' '02-01-2001'
 '10-08-2006' '28-07-2014' '27-09-2011' '20-04-2013' '20-03-1991'
 '03-12-2005' '25-05-2011' '18-10-2006' '19-07-2006' '08-06-2002'
 '12-02-2009' '14-05-2001' '16-02-2001' '18-11-1993' '18-02-1990'
 '21-05-2000' '26-08-2012' '16-11-2004' '23-01-2003' '07-11-2008'
 '19-10-1999' '20-12-1990' '14-02-1996' '10-06-2001' '17-03-2010'
 '30-07-2003' '17-09-2014' '03-06-2009' '11-10-1994' '18-07-1991'
 '24-09-2001' '19-09-2012' '11-07-1991' '29-10-1991' '28-12-1999'
 '11-10-2012' '19-08-1995' '11-02-1991' '02-07-1991' '10-04-1994'
 '04-12-2005' '16-07-2014' '17-09-2003' '15-07-2000' '29-07-2009'
 '13-04-1991' '20-11-2005' '20-05-1990' '28-11-2002' '15-06-2004'
 '26-09-2010' '15-09-1990' '16-09-2009' '12-08-1999' '08-03-2009'
 '27-04-2009' '02-08-2006' '06-12-1995' '13-11-2002' '09-11-1991'
 '14-01-1998' '25-04-2002' '13-08-2004' '24-06-1990' '21-08-1991'
 '25-02-2011' '04-02-2013' '20-02-2001' '03-03-1992' '21-12-2006'
 '14-07-2000' '12-12-1991' '01-07-2013' '16-12-1998' '03-01-2015'
 '01-04-1994' '15-08-2000' '13-11-2014' '04-02-2011' '21-01-2009'
 '07-11-1992' '20-03-1992' '17-07-1995' '27-12-2000' '06-08-1999'
 '03-03-2007' '25-12-1997' '06-11-2013' '21-09-1990' '05-10-1999'
 '07-04-1992' '05-03-2009' '10-02-1997' '28-01-1992' '16-09-2013'
 '04-01-2002' '02-04-2002' '16-07-1998' '15-08-2002' '07-09-1999'
 '12-01-2012' '18-08-1996' '11-03-1996' '23-11-1997' '08-08-2013'
 '30-11-1996' '18-06-1997' '19-04-2007' '19-09-2007' '21-12-1996'
 '03-02-2008' '16-07-2003' '05-05-1991' '16-06-1991' '03-04-2001'
 '16-03-2014' '03-08-2010' '25-11-2009' '08-05-2001' '14-06-2004'
 '07-08-1994' '26-08-2004' '05-11-2000' '03-10-1994' '11-04-2005'
 '16-05-1990' '11-09-2004' '30-11-1993' '06-03-2003' '18-12-1996'
 '21-02-1995' '11-12-2009' '18-10-2000' '09-02-2007' '28-10-2006'
 '27-01-2000' '05-04-2002' '30-04-2013' '01-05-2013' '09-01-1999'
 '04-07-2007' '05-02-1994' '12-07-2006' '24-10-2007' '08-12-2001'
 '24-03-2007' '16-07-1991' '05-01-2014' '17-02-2003' '18-11-2011'
 '11-11-1996']

Column: policy_csl
['250/500' '100/300' '500/1000']

Column: policy_deductable
[1000 2000  500]

Column: policy_annual_premium
[1406.91 1197.22 1413.14 1415.74 1583.91 1351.1  1333.35 1137.03 1442.99
 1315.68 1253.12 1137.16 1215.36  936.61 1301.13 1131.4  1199.44  708.64
 1374.22 1475.73 1187.96  875.15  972.18 1268.79  883.31 1266.92 1322.1
  848.07 1291.7  1104.5   954.16 1337.28 1088.34 1558.29 1415.68 1334.15
  988.45 1222.48 1155.55 1262.08 1451.62 1737.66 1475.93  538.17 1081.08
 1454.43 1240.47 1273.7  1123.87 1245.89 1326.62 1073.83 1530.52 1201.41
 1393.57 1276.57 1082.49 1414.74 1470.06  870.63  795.23 1168.2   993.51
 1848.81 1641.73 1362.87 1239.22  835.02 1061.33 1279.08 1105.49 1055.53
  895.83 1632.93 1405.99 1425.54 1038.09 1307.11 1489.24  976.67 1340.43
 1267.81 1234.2  1318.06  769.95 1514.72  873.64 1612.43 1318.24 1226.83
 1326.44 1136.83 1322.78 1483.25 1515.3  1075.18 1690.27 1352.83 1148.73
  969.5  1463.82 1474.17 1497.35 1427.14 1495.1  1141.62 1125.37 1207.36
 1338.5  1074.07 1337.56 1298.91 1222.75 1059.52 1124.38 1110.37 1103.58
 1269.76  964.79 1167.3  1625.45 1394.43 1053.24 1040.75 1302.4  1588.55
 1399.26 1352.31 1139.   1397.67  823.17  965.13 1922.84 1624.82 1277.25
 1439.34 1281.27 1348.83 1198.15 1221.22  968.74 1220.71 1238.62 1320.75
  990.98 1398.51 1355.08 1384.51  847.03 1000.06 1046.71 1158.03 1372.27
 1053.04 1275.39 1402.75 1344.36 1197.71 1203.24 1152.4  1142.62 1332.07
 1166.54 1495.06 1337.92 1587.96 1362.29 1448.84 1241.97 1124.6  1079.92
 1447.78 1229.16 1226.49  897.89 1706.79 1254.18  885.08 1046.58 1712.68
 1097.71 1363.77 1382.88 1141.35 1054.83 1057.77 1488.02  920.3   986.53
 1440.68 1086.21 1367.68 1215.85 1191.19 1594.45 1463.07 1734.09 1411.43
 1512.58 1153.35 1722.95 1281.07 1011.92 1042.26 1235.1   768.91 1301.72
 1451.54  767.14 1620.89 1048.46 1538.26 1217.69 1362.64 1279.13  924.72
 1019.44 1314.6  1515.18 1649.18 1451.01  978.46 1198.34 1003.23 1212.
 1242.96 1053.02 1693.63 2047.59 1083.72 1138.42 1072.62 1219.04 1371.78
 1506.21 1058.21  932.14 1608.34 1728.56 1518.46 1540.19  965.21 1278.75
  773.99 1532.47 1340.56 1297.75  433.33 1025.54 1264.77 1459.97 1238.65
 1050.76 1711.72  865.33 1153.49 1281.25 1342.8  1443.32 1629.94 1134.08
 1483.91 1304.67 1035.79 1401.2  1665.45  653.66 1080.13 1346.18 1589.54
 1251.65 1083.01  974.59 1399.85 1307.74 1219.27 1411.3   694.45 1006.77
 1422.36 1348.32 1315.56 1407.01 1388.58 1310.76 1004.63 1134.91 1194.
 1248.25 1338.54  782.23 1366.9  1275.81 1090.65 1326.    972.47  806.31
 1416.24 1097.64  947.75 1018.73 1400.74 1155.53 1386.93  915.29 1239.55
 1366.42 1086.48 1247.87 1312.75  765.64 1327.41 1338.55 1316.63 1286.44
 1372.18 1447.77  903.32 1454.42 1603.42 1616.58 1611.83  889.13 1252.08
  995.56 1347.92 1724.09 1379.93 1554.64 1377.94 1313.33 1259.02 1371.88
 1399.27 1061.98 1365.46  894.4   956.69 1123.89 1085.03 1437.33  988.29
 1238.89 1384.64 1595.07 1127.89  929.7  1829.63  904.7  1243.84 1030.95
 1285.03 1216.56  966.26 1203.17 1212.12 1573.93 1609.67 1097.57 1618.65
  922.67 1342.02 1195.01  994.74 1050.24 1313.51 1102.29 1185.78 1527.95
 1366.39 1403.9   927.23 1554.86  736.07  974.16  973.8  1260.32 1464.03
  617.11 1724.46 1161.31 1091.73 1209.07 1241.04 1757.21  802.24 1342.72
 1209.41 1141.71 1090.03 1464.73 1118.58 1117.04 1257.83 1082.72 1191.8
 1242.02 1075.71  969.88 1459.93 1245.61 1462.76 1398.46 1269.64 1455.65
 1140.31 1330.46 1190.6   972.5  1161.91 1117.17 1101.51 1523.17  984.45
 1257.   1434.51 1628.   1412.31 1134.68 1306.78 1021.9  1538.6  1354.5
 1282.93 1346.27 1338.4   949.44  977.4  1181.46 1187.53  845.16 1442.27
 1276.43 1075.41 1111.72  814.96 1575.86 1115.27 1175.7   793.15  942.51
 1056.71 1255.68 1335.13 1178.95 1793.16 1008.38 1396.83 1402.78 1437.88
 1313.64 1482.14 1171.75 1353.33 1175.51 1836.02 1480.79 1453.92 1340.71
  714.03 1376.16  914.22 1601.47 1096.79 1078.22 1595.28 1217.84 1117.42
 1567.37 1294.93 1152.12 1441.21 1575.74 1233.96 1861.43 1570.86  791.47
 1012.78 1047.06 1390.29  951.46 1226.78 1280.9  1472.77 1878.44 1418.5
 1532.8  1304.35 1551.61 1326.98  862.92 1331.69 1486.04  870.55 1344.56
 1377.04 1237.88 1525.86  854.58  770.76 1132.74 1173.37 1188.28  876.88
 1143.95 1409.06 1070.63  916.13 1191.5  1474.66 1193.45 1437.53 1304.83
 1168.8  1164.97 1232.72 1800.76 1187.01 1559.34 1137.02 1281.72  796.35
 1270.02 1383.13 1290.74 1216.68 1251.16 1586.41 1526.11 1028.44 1555.94
 1570.77 1170.53 1099.95 1472.43 1275.62 1292.3  1009.37 1093.07 1325.44
 1017.18 1221.17 1927.87  978.27 1221.14 1255.62  999.52 1380.89 1010.77
 1205.86 1526.61 1496.44 1256.2  1268.35 1421.59 1500.04 1433.24 1231.25
 1135.43  945.73 1118.76 1231.98 1005.47 1108.97 1392.39 1317.97 1588.22
  900.02 1744.64 1260.56 1021.14 1285.09 1537.07 1022.42 1558.86 1757.87
  973.5  1430.8  1192.27 1163.83 1003.15 1153.54 1631.1  1252.48 1677.26
  979.73  989.24 1389.86 1233.85 1320.39 1435.09 1448.54 1733.56 1533.07
 1106.77  995.7  1298.85 1276.73 1202.28  671.92 1358.03 1008.79 1141.1
 1397.   1664.66 1151.39 1546.01 1063.67  709.14 1039.55 1339.39 1202.75
 1081.17  991.39  984.02 1354.83  830.31  987.42 1119.29 1048.39 1074.47
 1230.76 1255.02 1555.52  836.11 1450.98  625.08 1133.27 1366.6  1439.9
 1230.69 1307.68 1124.69 1520.78 1609.11 1358.91 1295.87 1161.03 1441.06
 1097.99 1464.42 1543.68 1390.89 1148.58 1616.26 1398.94 1238.92  968.46
 1045.12 1537.33  912.3  1007.28 1189.98 1576.41 1172.82 1312.22  671.01
  895.14 1373.21 1625.65 1295.63 1459.96 1219.94 1064.49  959.83 1767.02
 1285.01 1422.95 1223.39 1539.06  988.06 1740.57 1540.91 1381.88 1446.98

In [14]:
df= df.drop(['insured_hobbies','incident_state','age','incident_type'],axis=1)

In [15]:
df = df.drop('policy_bind_date', axis=1)

In [16]:
df

,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_relationship,...,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,fraud_reported
0,328,250/500,1000,1406.91,0,466132,MALE,MD,craft-repair,husband,...,1,YES,1,2,YES,71610,6510,13020,52080,Y
1,228,250/500,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,other-relative,...,1,?,0,0,?,5070,780,780,3510,Y
2,134,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,sales,own-child,...,3,NO,2,3,NO,34650,7700,3850,23100,N
3,256,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,unmarried,...,1,?,1,2,NO,63400,6340,6340,50720,Y
4,228,500/1000,1000,1583.91,6000000,610706,MALE,Associate,sales,unmarried,...,1,NO,0,1,NO,6500,1300,650,4550,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,500/1000,1000,1310.80,0,431289,FEMALE,Masters,craft-repair,unmarried,...,1,YES,0,1,?,87200,17440,8720,61040,N
996,285,100/300,1000,1436.79,0,608177,FEMALE,PhD,prof-specialty,wife,...,1,YES,2,3,?,108480,18080,18080,72320,N
997,130,250/500,500,1383.49,3000000,442797,FEMALE,Masters,armed-forces,other-relative,...,3,?,2,3,YES,67500,7500,7500,52500,N
998,458,500/1000,2000,1356.92,5000000,441714,MALE,Associate,handlers-cleaners,wife,...,1,?,0,1,YES,46980,5220,5220,36540,N
999,456,250/500,1000,766.19,0,612260,FEMALE,Associate,sales,husband,...,1,?,0,3,?,5060,460,920,3680,N

In [17]:
print(df.columns)

Index(['months_as_customer', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_relationship',
       'capital-gains', 'capital-loss', 'incident_date', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'fraud_reported'],
      dtype='object')

In [18]:
columns_with_question_mark = ['collision_type', 'property_damage', 'police_report_available']
df[columns_with_question_mark] = df[columns_with_question_mark].replace('?', np.nan)

In [19]:
df

,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_relationship,...,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,fraud_reported
0,328,250/500,1000,1406.91,0,466132,MALE,MD,craft-repair,husband,...,1,YES,1,2,YES,71610,6510,13020,52080,Y
1,228,250/500,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,other-relative,...,1,NaN,0,0,NaN,5070,780,780,3510,Y
2,134,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,sales,own-child,...,3,NO,2,3,NO,34650,7700,3850,23100,N
3,256,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,unmarried,...,1,NaN,1,2,NO,63400,6340,6340,50720,Y
4,228,500/1000,1000,1583.91,6000000,610706,MALE,Associate,sales,unmarried,...,1,NO,0,1,NO,6500,1300,650,4550,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,500/1000,1000,1310.80,0,431289,FEMALE,Masters,craft-repair,unmarried,...,1,YES,0,1,NaN,87200,17440,8720,61040,N
996,285,100/300,1000,1436.79,0,608177,FEMALE,PhD,prof-specialty,wife,...,1,YES,2,3,NaN,108480,18080,18080,72320,N
997,130,250/500,500,1383.49,3000000,442797,FEMALE,Masters,armed-forces,other-relative,...,3,NaN,2,3,YES,67500,7500,7500,52500,N
998,458,500/1000,2000,1356.92,5000000,441714,MALE,Associate,handlers-cleaners,wife,...,1,NaN,0,1,YES,46980,5220,5220,36540,N
999,456,250/500,1000,766.19,0,612260,FEMALE,Associate,sales,husband,...,1,NaN,0,3,NaN,5060,460,920,3680,N

In [20]:
df =df.drop('policy_csl', axis=1)

In [21]:
df

,months_as_customer,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,fraud_reported
0,328,1000,1406.91,0,466132,MALE,MD,craft-repair,husband,53300,...,1,YES,1,2,YES,71610,6510,13020,52080,Y
1,228,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,other-relative,0,...,1,NaN,0,0,NaN,5070,780,780,3510,Y
2,134,2000,1413.14,5000000,430632,FEMALE,PhD,sales,own-child,35100,...,3,NO,2,3,NO,34650,7700,3850,23100,N
3,256,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,unmarried,48900,...,1,NaN,1,2,NO,63400,6340,6340,50720,Y
4,228,1000,1583.91,6000000,610706,MALE,Associate,sales,unmarried,66000,...,1,NO,0,1,NO,6500,1300,650,4550,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,1000,1310.80,0,431289,FEMALE,Masters,craft-repair,unmarried,0,...,1,YES,0,1,NaN,87200,17440,8720,61040,N
996,285,1000,1436.79,0,608177,FEMALE,PhD,prof-specialty,wife,70900,...,1,YES,2,3,NaN,108480,18080,18080,72320,N
997,130,500,1383.49,3000000,442797,FEMALE,Masters,armed-forces,other-relative,35100,...,3,NaN,2,3,YES,67500,7500,7500,52500,N
998,458,2000,1356.92,5000000,441714,MALE,Associate,handlers-cleaners,wife,0,...,1,NaN,0,1,YES,46980,5220,5220,36540,N
999,456,1000,766.19,0,612260,FEMALE,Associate,sales,husband,0,...,1,NaN,0,3,NaN,5060,460,920,3680,N

In [22]:
for column in columns_with_question_mark:
    mode_value = df[column].mode()[0]  
    df[column].fillna(mode_value, inplace=True)

In [23]:
print(df[columns_with_question_mark].isnull().sum())

collision_type             0
property_damage            0
police_report_available    0
dtype: int64

In [24]:
print(df.isnull().sum())

months_as_customer             0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_zip                    0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_date                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_city                  0
incident_location              0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
fraud_reported                 0
dtype: int64

In [25]:
label_encoder = LabelEncoder()

In [26]:
categorical_columns = ['insured_sex','insured_education_level','insured_occupation','insured_relationship','property_damage','police_report_available','fraud_reported']

In [27]:
for column in categorical_columns:
    df[column]=label_encoder.fit_transform(df[column].astype(str))

In [28]:
df

,months_as_customer,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,fraud_reported
0,328,1000,1406.91,0,466132,1,4,2,0,53300,...,1,1,1,2,1,71610,6510,13020,52080,1
1,228,2000,1197.22,5000000,468176,1,4,6,2,0,...,1,0,0,0,0,5070,780,780,3510,1
2,134,2000,1413.14,5000000,430632,0,6,11,3,35100,...,3,0,2,3,0,34650,7700,3850,23100,0
3,256,2000,1415.74,6000000,608117,0,6,1,4,48900,...,1,0,1,2,0,63400,6340,6340,50720,1
4,228,1000,1583.91,6000000,610706,1,0,11,4,66000,...,1,0,0,1,0,6500,1300,650,4550,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,1000,1310.80,0,431289,0,5,2,4,0,...,1,1,0,1,0,87200,17440,8720,61040,0
996,285,1000,1436.79,0,608177,0,6,9,5,70900,...,1,1,2,3,0,108480,18080,18080,72320,0
997,130,500,1383.49,3000000,442797,0,5,1,2,35100,...,3,0,2,3,1,67500,7500,7500,52500,0
998,458,2000,1356.92,5000000,441714,1,0,5,5,0,...,1,0,0,1,1,46980,5220,5220,36540,0
999,456,1000,766.19,0,612260,0,0,11,0,0,...,1,0,0,3,0,5060,460,920,3680,0

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
scaler = StandardScaler()

In [31]:
print(df.columns)

Index(['months_as_customer', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_relationship',
       'capital-gains', 'capital-loss', 'incident_date', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'fraud_reported'],
      dtype='object')

In [32]:
df=df.drop('incident_date',axis=1)

In [33]:
numeric_columns = ['months_as_customer', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_relationship',
       'capital-gains', 'capital-loss','collision_type',
       'incident_severity', 'authorities_contacted', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim',]

In [34]:
unique_collision_types = df['collision_type'].unique()
print(unique_collision_types)

['Side Collision' 'Rear Collision' 'Front Collision']

In [35]:
df['collision_type'] = label_encoder.fit_transform(df['collision_type'].astype(str))

In [36]:
unique_collision_types = df['collision_type'].unique()
print(unique_collision_types)

[2 1 0]

In [37]:
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

ValueError: could not convert string to float: 'Major Damage'

In [38]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
print(df[categorical_columns])

    incident_severity authorities_contacted incident_city    incident_location
0        Major Damage                Police      Columbus       9935 4th Drive
1        Minor Damage                Police     Riverwood         6608 MLK Hwy
2        Minor Damage                Police      Columbus    7121 Francis Lane
3        Major Damage                Police     Arlington     6956 Maple Drive
4        Minor Damage                  None     Arlington         3041 3rd Ave
..                ...                   ...           ...                  ...
995      Minor Damage                  Fire    Northbrook   6045 Andromedia St
996      Major Damage                  Fire     Northbend     3092 Texas Drive
997      Minor Damage                Police     Arlington          7629 5th St
998      Major Damage                 Other     Arlington        6128 Elm Lane
999      Minor Damage                Police      Columbus  1416 Cherokee Ridge

[1000 rows x 4 columns]

In [39]:
df = df.drop(['incident_city','incident_location'],axis=1)

In [40]:
df

,months_as_customer,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,fraud_reported
0,328,1000,1406.91,0,466132,1,4,2,0,53300,...,1,1,1,2,1,71610,6510,13020,52080,1
1,228,2000,1197.22,5000000,468176,1,4,6,2,0,...,1,0,0,0,0,5070,780,780,3510,1
2,134,2000,1413.14,5000000,430632,0,6,11,3,35100,...,3,0,2,3,0,34650,7700,3850,23100,0
3,256,2000,1415.74,6000000,608117,0,6,1,4,48900,...,1,0,1,2,0,63400,6340,6340,50720,1
4,228,1000,1583.91,6000000,610706,1,0,11,4,66000,...,1,0,0,1,0,6500,1300,650,4550,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,1000,1310.80,0,431289,0,5,2,4,0,...,1,1,0,1,0,87200,17440,8720,61040,0
996,285,1000,1436.79,0,608177,0,6,9,5,70900,...,1,1,2,3,0,108480,18080,18080,72320,0
997,130,500,1383.49,3000000,442797,0,5,1,2,35100,...,3,0,2,3,1,67500,7500,7500,52500,0
998,458,2000,1356.92,5000000,441714,1,0,5,5,0,...,1,0,0,1,1,46980,5220,5220,36540,0
999,456,1000,766.19,0,612260,0,0,11,0,0,...,1,0,0,3,0,5060,460,920,3680,0

In [41]:
df['incident_severity'] = label_encoder.fit_transform(df['incident_severity'])

df['authorities_contacted'] = label_encoder.fit_transform(df['authorities_contacted'])

print(df[['incident_severity', 'authorities_contacted']].apply(lambda col: col.unique()))

incident_severity           [0, 1, 2, 3]
authorities_contacted    [4, 2, 1, 3, 0]
dtype: object

In [42]:
print(df.columns)

Index(['months_as_customer', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_relationship',
       'capital-gains', 'capital-loss', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'fraud_reported'],
      dtype='object')

In [43]:
numeric_columns = ['months_as_customer', 'policy_deductable', 'policy_annual_premium',
       'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_relationship',
       'capital-gains', 'capital-loss', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim']

In [44]:
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

In [45]:
df

,months_as_customer,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,fraud_reported
0,1.078140,-0.222383,0.616705,-0.479476,-0.489529,1.076953,0.530931,-1.158316,-1.437957,1.011331,...,-0.823865,1.520282,0.009759,0.461838,1.478078,0.714257,-0.189283,1.165505,0.749653,1
1,0.208995,1.412784,-0.242521,1.697980,-0.461008,1.076953,0.530931,-0.162558,-0.247595,-0.901927,...,-0.823865,-0.657773,-1.210174,-1.338700,-0.676554,-1.807312,-1.363822,-1.372696,-1.823346,1
2,-0.608002,1.412784,0.642233,1.697980,-0.984885,-0.928546,1.557877,1.082141,0.347586,0.358023,...,1.140056,-0.657773,1.229693,1.362107,-0.676554,-0.686362,0.054644,-0.736072,-0.785565,0
3,0.452355,1.412784,0.652886,2.133471,1.491682,-0.928546,1.557877,-1.407256,0.942766,0.853388,...,-0.823865,-0.657773,0.009759,0.461838,-0.676554,0.403135,-0.224130,-0.219722,0.677607,1
4,0.208995,-0.222383,1.341980,2.133471,1.527808,1.076953,-1.522961,1.082141,0.942766,1.467210,...,-0.823865,-0.657773,-1.210174,-0.438431,-0.676554,-1.753121,-1.257232,-1.399654,-1.768252,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-1.746582,-0.222383,0.222884,-0.479476,-0.975717,-0.928546,1.044404,-1.158316,0.942766,-0.901927,...,-0.823865,1.520282,-1.210174,-0.438431,-0.676554,1.305049,2.051155,0.273817,1.224309,0
996,0.704407,-0.222383,0.739141,-0.479476,1.492519,-0.928546,1.557877,0.584261,1.537947,1.643100,...,-0.823865,1.520282,1.229693,1.362107,-0.676554,2.111466,2.182342,2.214794,1.821868,0
997,-0.642767,-1.039966,0.520739,0.826998,-0.815138,-0.928546,1.044404,-1.407256,-0.247595,0.358023,...,1.140056,-0.657773,1.229693,1.362107,1.478078,0.558507,0.013648,0.020826,0.771902,0
998,2.208028,1.412784,0.411866,1.697980,-0.830250,1.076953,-1.522961,-0.411497,1.537947,-0.901927,...,-0.823865,-0.657773,-1.210174,-0.438431,1.478078,-0.219110,-0.453708,-0.451976,-0.073580,0
999,2.190645,-0.222383,-2.008710,-0.479476,1.549492,-0.928546,-1.522961,1.082141,-1.437957,-0.901927,...,-0.823865,-0.657773,-1.210174,1.362107,-0.676554,-1.807691,-1.429416,-1.343664,-1.814340,0

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
rf_classifier = RandomForestClassifier()

In [50]:
X = df.drop('fraud_reported', axis=1)
y = df['fraud_reported']

In [51]:
rf_classifier.fit(X, y)

RandomForestClassifier()

In [52]:
feature_importances = rf_classifier.feature_importances_
print(feature_importances)

[0.05861885 0.01527045 0.06164051 0.02119446 0.06629362 0.00875626
 0.03099233 0.04473652 0.02876241 0.0338226  0.03681804 0.01443473
 0.19419364 0.02202596 0.04828799 0.01373007 0.00800195 0.01584085
 0.02300228 0.00767174 0.06032547 0.05713708 0.06566056 0.06278164]

In [55]:
from sklearn.metrics import accuracy_score, classification_report

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [57]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

In [58]:
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [59]:
y_pred = rf_model.predict(X_test)

In [60]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.73

In [61]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.88      0.83       145
           1       0.51      0.33      0.40        55

    accuracy                           0.73       200
   macro avg       0.65      0.61      0.61       200
weighted avg       0.70      0.73      0.71       200

In [62]:
from sklearn.svm import SVC

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [64]:
svm_model = SVC(kernel='rbf', random_state=42)

In [65]:
svm_model.fit(X_train, y_train)

SVC(random_state=42)

In [66]:
y_pred_svm = svm_model.predict(X_test)

In [67]:
accuracy_svm = accuracy_score(y_test, y_pred_svm)
print(f'Accuracy (SVM): {accuracy_svm:.2f}')

Accuracy (SVM): 0.72

In [68]:
print(classification_report(y_test, y_pred_svm))

              precision    recall  f1-score   support

           0       0.74      0.94      0.83       145
           1       0.47      0.13      0.20        55

    accuracy                           0.72       200
   macro avg       0.60      0.54      0.52       200
weighted avg       0.67      0.72      0.66       200

In [69]:
from sklearn.preprocessing import PolynomialFeatures

In [74]:
poly = PolynomialFeatures(degree=2)
X_test_poly = poly.fit_transform(X_test)

In [75]:
model = RandomForestClassifier(n_estimators=100, random_state=42)

In [78]:
model.fit(X_poly, y)

RandomForestClassifier(random_state=42)

In [82]:
y_pred_test = model.predict(X_test_poly)

In [83]:
from sklearn.metrics import accuracy_score, classification_report

In [84]:
accuracy_test = accuracy_score(y_test, y_pred_test)
print(f'Accuracy on Test Set: {accuracy_test:.2f}')

Accuracy on Test Set: 1.00

In [85]:
print(classification_report(y_test, y_pred_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       145
           1       1.00      1.00      1.00        55

    accuracy                           1.00       200
   macro avg       1.00      1.00      1.00       200
weighted avg       1.00      1.00      1.00       200